body {
  background-color: darkolivegreen; }
  body .wrapper {
    margin: 0; }
    body .wrapper .main {
      padding-top: 70px;
      padding-left: 18px;
      min-height: 550px;
      color: #96cc96;
      border-bottom: 5px solid darkolivegreen;
      background-color: darkolivegreen; }
      body .wrapper .main #content, body .wrapper .main #content-aside {
        min-height: 470px;
        border: 2px solid black;
        border-radius: 3px;
        box-shadow: -1px 1px darkorange;
        margin-bottom: 15px;
        padding: 5px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }
      body .wrapper .main #content {
        max-width: 69%; }
      body .wrapper .main #content-aside {
        max-width: 30%;
        margin-left: 0.9%; }
