.info-container {
	padding-left: 30px;
}

.info-news {
	display: inline-block;
	background-color: black;
	border: 2px solid orange;
	max-width: 23%;
	min-height: 300px;
	max-height: 300px;
	margin-right: 5px;
	padding: 5px;
	margin-bottom: 15px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

	.info-news-title {
		border-bottom: 2px solid #96cc96;
		color: #96cc96;
	}

	.info-news-text {
		text-align: justify;

		&>a .info-news-img {
			float: right;
			max-height: 160px;
			margin-left: 5px
		}
	}

	.info-news-tags {
		border-top: 5px solid darkorange;
		margin-top: 6px;

		.btn {
			max-height: 20px;
			font-size: 10px;
			font-weight: bold;
			color: #96cc96;
			h6 {
				margin-top: -5px;
			}
		}
	}
}
