@font-face {
	font-family: 'Zhafira';
	src: url('../../fonts/MJF Zhafira Demo.ttf');
}

@font-face {
	font-family: 'Sunny';
	src: url('../../fonts/Sunny Spring Day - TTF.ttf');
}

body {
					background-color: darkolivegreen;

	.login-container {
		background-color: #96cc96;
		border: 2px solid #000000;
		margin-left: -140px;
		min-width: 200%;

	input {
		margin-left: -10px;
		border-radius: 2px;
		padding: 2px;
	}

	.login-field {
		padding: 5px;
		margin-left: 15%
	}
}

	.wrapper {
		padding-left: 0;
		padding-right: 0;

		.header {

			nav.navbar {
				background-color: black;
				border: 0;
				border-radius: 0;

				.nav-colapse-btn {
					background-color: darkolivegreen;
					.icon-bar {
						background-color: darkorange;
					}
				}

				.main-link {
					margin-top: 5px;
					font-family: 'Sunny', serif;
					font-weight: bold;
					font-size: 28px;
					color: darkorange;

					&:hover {
						color: silver;
					}

					&:focus {
						color: silver;
					}
				}

				.sign-btn {
					width: 80px;
					height: 30px
				}
			}

			#brand {
				font-family: 'Zhafira', serif;
				color: darkolivegreen;
				text-shadow: -1px 1px darkorange;
				font-size: 38px;

				&:hover {
					color: silver;
					text-shadow: -1px 1px whitesmoke
				}
			}

			.nav-right {
				float: right;
			}
		}

		.main {
			padding-top: 60px;
			padding-left: 15px;
			min-height: 550px;
			color: #96cc96;
			border-bottom: 5px solid darkolivegreen;
			background-color: darkolivegreen;

			#content {
				border-right: 2px solid darkorange;
			}
		}

		.footer {
			padding-top: 15px;
			padding-left: 15px;
			color: darkorange;
			min-height: 150px;
			max-height: 150px;
			background-color: black;
			border-top: 2px solid darkorange;
		}
	}
}
