@font-face {
	font-family: 'Zhafira';
	src: url('../../fonts/MJF Zhafira Demo.ttf');
}

@font-face {
	font-family: 'Sunny';
	src: url('../../fonts/Sunny Spring Day - TTF.ttf');
}

body {
	background-color: gainsboro;

	.wrapper {
		padding-left: 0;
		padding-right: 0;

		.header {
			position: fixed;
			z-index: 1;
			min-width: 100%;

			nav.navbar {
				background-color: black;
				border: 0;
				border-radius: 0;

				.main-link {
					font-family: 'Sunny', serif;
					font-weight: bold;
					font-size: 28px;
					color: darkorange;
					&:hover {
						color: silver;
					}
					&:focus {
						color: silver;
					}
				}
			}

			#brand {
				font-family: 'Zhafira', serif;
				color: darkolivegreen;
				text-shadow: -1px 1px darkorange;
				font-size: 38px;
				&:hover {
				color: silver;
				text-shadow: -1px 1px whitesmoke
				}
			}
		}

		#content {
			padding-top: 55px;
			padding-left: 15px;
			color: silver;
			min-height: 500px;
			background: darkolivegreen;
		}

		.footer {
			padding-top: 15px;
			padding-left: 15px;
			color: silver;
			min-height: 150px;
			background-color: black;
			border-top: 5px solid darkorange;
		}

	}
}

.login-container {
	border: 1px solid #000000;
	max-width: 70%;
	.login-field {
		margin: 5px
	}
}